.balance-summary {
    color: white;
}

.heading-holder {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
    position: relative;
}

.balance-summary-heading {
    margin: 0;
    padding: 0;
    text-align: center;
}

.average-holder {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 28%;
}

.average-surplus,
.average-holder p {
    margin: 0;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
}

.average-surplus,
.average-profit {
    color: var(--success);
}

.average-expense {
    color: var(--failure);
}

.mini-forecast {
    width: 100%;
    height: 50%;
}

.headings {
    display: flex;
    align-items: center;
    gap: 10%;
    margin-left: 30px;
    padding: 10px;
}

.headings div {
    display: flex;
    flex-direction: column;
}

.headings h3 {
    height: 38px;
}

.headings p {
    font-size: 18.72px;
    margin: 0;
}

.income-span,
.expense-span {
    padding: 6px;
    background-color: white;
    border-radius: 7px;
    font-weight: bold;
}

.income-span {
    color: var(--success);
}

.expense-span {
    color: var(--failure);
}

.balance-heading-spacer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.balance-heading {
    color: var(--primary-green);
    padding: 5px;
    background-color: white;
    border-radius: 7px;
    position: absolute;
    top: 25%;
    right: 10px;
}

select {
    padding: 4px;
    background-color: white;
    border-radius: 7px;
    height: fit-content;
    font-family: "Quicksand";
    font-weight: bold;
    color: var(--accent-2);
    font-size: 18.72px;
}

label {
    font-size: 18.72px;
}

span {
    height: 38px;
}

h3 {
    margin: 0;
}