

.activity-feed {
    color: white;
    padding: 30px;
    width: fit-content;
    height: fit-content;
}

.activity-feed span {
    background-color: white;
    border-radius: 5px;
    color: var(--success);
    font-weight: bold;
    margin: 0;
    height: fit-content;
    padding: 4px;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
.upcoming-bills li,
.activity-feed li {
    width: 100%;
    height: 32px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

span.expense {
    color: var(--failure);
}

.activity-feed div {
    font-size: 18.72px;
    display: flex;
    align-items: center;
}

.average-spenditure {
    margin-top: 15px;
}

.upcoming-bills {
    color: white;
    padding: 30px;
    height: fit-content;
}

.activity-feed h1,
.upcoming-bills h1 {
    margin-bottom: 10px;
}

.upcoming-bills p {
    margin: 0;
}

.status {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.time-1,
.status-1 {
    background-color: #ffb347;
    font-weight: bold;
}
.time-2,
.status-2 {
    background-color: #ff4d4d;
    font-weight: bold;
}
.time-3,
.status-3 {
    background-color: #7ed957;
    font-weight: bold;
}
.time-4,
.status-4 {
    background-color: #7ed957;
    font-weight: bold;
}

.category-bill-1,
.category-bill-2,
.category-bill-3,
.category-bill-4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
}

.category-sub-holder {
    display: flex;
    justify-content: center;
}

.time {
    margin-left: 10px;
    color: white;
    padding: 4px;
    border-radius: 7px;
}

.extra {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    color: var(--accent-2);
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transform:translateY(-60px);
    opacity: 0;
    transition: all 0.3s ease;
}

.extra-4,
.extra-3,
.extra-2,
.extra-1 {
    padding: 4px;
    border-radius: 7px;
    color: white;
    background-color: var(--primary-bg);
}

.category-bill-1:hover .extra {
    opacity: 1;
}
.category-bill-2:hover .extra {
    opacity: 1;
}
.category-bill-3:hover .extra {
    opacity: 1;
}
.category-bill-4:hover .extra {
    opacity: 1;
}

.quick-actions h1 {
    margin-bottom: 10px;
}

.quick-actions {
    color: white;
    padding: 30px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions-wrapper-1 {
    display: flex;
    justify-content: row;
}
.quick-actions p {
    font-size: 18.72px;
    margin: 0;
}
.quick-actions button {
    font-size: 16px;
    width: 90%;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--primary-green);
    color: var(--primary-white);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    font-family: "Varela";
    border: 5px solid var(--accent);
    font-weight: bold;
    transition: all 0.3s ease;
}

.quick-actions button img {
    width: 40px;
    background-color: var(--primary-green);
    padding: 4px;
    border-radius: 5px;
}

.quick-actions button:hover {
    background-color: var(--primary-white);
    color: var(--primary-green);
    border-color: var(--primary-green);
}

.ai-profile-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--accent-2);
    background:linear-gradient(135deg,#3b82f6,#8b5cf6); 
    border: 4px solid var(--accent-2); 
    display:block; 
}

.ai-insights h1 {
    margin-bottom: 10px;
}

.ai-insights {
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.ai-profile-holder {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 18.72px;
}

.ai-text-container {
    height: 100%;
    width: 100%;
    word-break: break-word;
    display: flex;
}

@keyframes flicker {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.ai-output {
    height: fit-content;]
}

#cursor {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    animation: flicker 0.4s infinite;
}

.shortcuts {
    color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: fit-content;
    gap: 15px;
    padding: 15px;
    width: 100%;
}

.search {
    color: white;
    width: 100%;
    margin-top: 40px;
    height: fit-content;
    display: grid;
    padding: 15px;
    grid-template-columns: repeat(6, 1fr);
}

.shortcuts img {
    height: 80px;
    width: 80px;
    cursor: pointer;
    background-color: var(--primary-bg);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    transition: all 0.5s ease;
    z-index: 2;
}

.shortcuts img:hover {
    scale: 1.2;
    background-color: white;
}

.shortcuts-heading-holder {
    text-align: center;
    grid-column: span 6;
    margin-bottom: 10px
}

.input,
.search-heading-holder {
    text-align: center;
    grid-column: span 6;
    margin-bottom: 10px;
    height: fit-content;
}

.search-search::placeholder {
    color: white;
    font-size: 18.72px;
    font-family: "Quicksand"
}

.input {
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}
input {
    border: none;
    background-color: var(--primary-bg);
    border: 5px solid var(--);
    color: #F8F4EC;
    margin: 12px 0;
    padding: 14px 16px;
    font-size: 18px;
    border-radius: 12px;
    width: 90%;
    transition: 0.25s;
    font-family: "Quicksand";
}

input::placeholder {
    color: #F8F4EC;
    font-family: "Quicksand";
    font-size: medium;
    border-radius: 15px;
}

input:focus {
    outline: none;
    background-color: white;
    color: var(--accent-2);
}

.search-button {
    height: 35px;
    background-color: var(--primary-bg);
    padding: 7.5px;
    border-radius: 12px;
}