body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    transition: background-color 0.3s ease;
}

body.dark {
    background-color: #333;
}

.heading {
    margin-bottom: 20px;
    font-size: 50px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.heading.dark {
    color: white;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    background-color: #333;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
    color: transparent;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.2s ease;
}

.card:hover {
    transform: scale(1.05); /* Slightly enlarge card on hover */
}

.card.flipped-dark {
    color: #333;
    background-color: white;
}

.card.flipped {
    color: #333;
    background-color: white;
}

.card.dark {
    color: white;
    background-color: white;
}

.status {
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;
    transition: color 0.3s ease; /* Added transition for status color */
}

.error {
    color: red;
}

.victory {
    color: green;
}

/* Responsive design for smaller screens */
@media (max-width: 480px) {
    .game-board {
        grid-template-columns: repeat(2, 1fr); /* Adjust to 2 columns */
    }

    .card {
        width: 80px; /* Slightly smaller cards */
        height: 80px; /* Maintain aspect ratio */
        font-size: 25px; /* Adjust font size for smaller screens */
    }

    .heading {
        font-size: 40px; /* Smaller heading font size */
    }

    .status {
        font-size: 30px; /* Smaller status font size */
    }
}
